@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  interpolate-size: allow-keywords;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container.has-rendered {
  transition: height 2s;
}

.seamless-transition {
  opacity: 1;
  transition: opacity 2s;
}

@starting-style {
  .seamless-transition {
    opacity: 0;
  }
}

.seamless-transition[data-visible="false"] {
  opacity: 0;
}

.grid-container {
  transition: height 2s;
}
